contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
fonttools==4.47.2
kiwisolver==1.4.5
ldpc==0.1.51
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.3
packaging==23.2
pillow==10.2.0
pyparsing==3.1.2
pytest==8.2.2
pytest-xdist==3.6.1
python-dateutil==2.8.2
scipy==1.12.0
six==1.16.0
tqdm==4.66.1
qualtran@git+https://github.com/quantumlib/Qualtran#egg=2b281e0fd1c97149e787cc1dfac7aa9333d4a4b7